@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=REM:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
}

.cep {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background-color: black;
  align-items: center;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: left;
  margin-left: auto;
  background-color: blue;
  color: white;
  padding: 20px;
  gap: 250px;
  font-family: "REM", sans-serif;
  border: 1px solid blue;
  border-radius: 20px;
}

.nav h1 {
  background-color: blue;

}

.nav a {
  text-decoration: none;
  color: white;
  background-color: blue;
}



.title {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 40px;
  color: white;
  font-family: "REM", sans-serif;
}

.itens-form {
  margin: 90px auto;
  max-width: 800px;
  display: flex;
  width: 100%;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px;

}

.itens-form input[type=text] {
  width: 800px;
  padding: 15px;
  gap: 300px;
  color: black;
  background-color: white;
  font-family: "Krona One", sans-serif;
}

.end {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  color: white;
  background-color: blue;
  width: 100vw;
  height: 20%;
  font-family: "REM", sans-serif;
}

.line {
  width: 400px;
  border: 2px solid black;
}

.end a {
  text-decoration: none;
  color: white;

}